@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: 'Switzer', sans-serif;
    background-color: #E9E4DD;
    color: #2E090D;
}
  
h1, h2, h3, h4, h5, h6 {
  font-family: 'Gambarino', serif;
  color: #781E26;
}

/* Add subheading using switzer */
.subheading {
  font-family: 'Switzer', sans-serif;
  color: #2E090D;
  font-size: 16px;
}